
*{
	margin: 0;
	padding: 0;
}

.reset{
	float: none;
}

#header{
	line-height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2
}

#header ul li {
	list-style: none;
	float: left;
	margin-right:20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: bold;
	max-height: 40px;
}

#header ul li:first-child{
	width: 100px;
	height: 30px;
	background-image: url(../img/main_logo.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#header ul li:nth-child(4){
	float: right;
	margin-right: 30px;
}

#header ul li a{
	color: #ffffff;
	text-decoration: none;
}

#header ul li a:hover{
	text-decoration: underline;
}


#header, #footer{
	padding: 3px;
	width: 100%;
	height: 40px;
	background-color: #000000;
}

html, body{
	height: 100%;
}

body{
	background-image: url(../img/back.jpg);
	background-size: cover;
	overflow-x: hidden;
}

#wrapper{
	width: 60%;
	border: 1px solid white;
	box-shadow: 2px 2px 20px 5px white;
	background-image: url("../img/texture1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 100px;
    padding: 20px;
}


#content{
	height: 100%;
}
.news{
	padding: 10px;
	border:1px solid grey;
	margin-bottom: 20px;
	min-height: 200px;
	background-color: white;
	border-radius: 10px;
}
.img{
	float: left;
}

.img img{
	border-radius: 10px;
    height: 150px;
    margin-right: 5px;
}


.text{
	float: center;
	height: 150px;
	overflow:hidden;
}

.title{
	text-align: center;
	font-family: Verdana;
	font-size: 20px;
	color: blue;
	margin-bottom: 10px;
}

.more{
	position: relative;
	right : -600px;
	font-size: 20px;
	z-index: 0;
}


#footer{
	position: fixed;
	left: 0;
	bottom: 0;
}

#copyright{
	color: grey;
	font-size: 12px;
	margin-top: 15px;
	text-align: center;
}